.back {
    position: relative;
    z-index: 1;
    font-size: 1rem;
    margin-left: .5rem;
    transition: 0.5s ease;
}

.character-card {
    /* background-image: url("/img/heart_pattern1.png"); */
    /* background-repeat:repeat; */
    /* background-size: 100px; */
    /* background-blend-mode: soft-light; */
    background-color: rgb(255, 221, 227);
    border-radius: 5px;
    padding-bottom: 0.5rem;
}

.character-img {
    padding: 1rem;
    /* background-color: white; */
}

/* .fadeout{
    display: none;
    position: absolute; 
    top:140px; 
    left:0px; 
    width:100%;
    height: 160vw;
    background:transparent;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 60%,rgb(255, 221, 227) 82%);
} */
/* height: 100%;  */
/* background: rgba(255, 255, 255, 0.582); */

.character-art-credits {
    position: relative;
    margin-top: -5rem;
    /* margin-left: .5rem; */
    /* margin-bottom: 0rem; */
    padding: 0;
}

.character-art-credits p {
    font-size: 0.8rem;
    line-height: 1rem;
    color:rgb(71, 35, 46);
    font-weight: 800;
    -webkit-text-stroke: 0.3px rgb(255, 221, 227);
    /* text-shadow: 0 0 2px white; */
}

.character-art-credits p a {
    color:rgb(71, 35, 46);
    /* font-weight: 1000; */
    -webkit-text-stroke: 0.3px rgb(255, 221, 227);
    /* text-shadow: 0 0 2px white; */
}

.character-art-credits p a:hover {
    color: rgb(255, 66, 123);
}

.character-voice {
    position: relative;
    float: right;
    margin-top: -5rem;
    margin-right: 1rem;
}

.character-voice img {
    width: 4rem;
}

.character-voice img:hover {
    margin-top: 0;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
    transition: 0.3s;
}

.character-bio {
    /* display: none; */
    position: relative;
    margin: auto 1rem;
}

.voice {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.voice .name {
    width: 80%;
    height: 100%;
    margin: .5rem auto;
}

.character-bio p {
    text-align: left;
}

audio {
    height: 40px;
    margin: 0.7rem auto;
}

.jpn-name {
    font-size: 7vw;
    margin-top: 3vw;
    font-weight: bold;
}

.cv {
    position: relative;
    font-size: 1.3rem;
    font-weight: bold;
    margin: .5rem auto;
    /* color: #BE8664 !important; */
}

p.cv {
    text-align: center;
}

.cv a {
    color: rgb(71, 35, 46);
}
.cv a:hover {
    color: rgb(255, 66, 123) !important;
}

.character-traits {
    display: flex;
    flex-direction: column;
}

.character-traits ul {
    list-style: none;
    padding-left: 0;    
}

.character-traits ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding-top: 4px; */
    justify-content: center;
}

.bio-icon {
    z-index: 2;
    height: 40px;
}

.bio-text {
    z-index: 1;
    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: rgb(81,43,41);
    background-color: white;
    height: 32px;
    /* margin: auto; */
    /* padding: 1px 0;  */
    vertical-align: middle;
    margin-left: -.8rem;
    margin-right: 0;
    padding-left: 15px;
    width: 94vw;
}

.bio-text p {
    font-size: 13px;
    font-weight: 600;
}

.outer-border {
    border: 4px solid rgb(81,43,41);
    border-radius: 7px;
    margin: 0;
    margin-top: 1rem;
    background-color: white;
}

.character-text {
    /* background-image: url("/characters/img/side-textbox-bg.png"); */
    /* background-size: 100%; */
    /* background-repeat: no-repeat; */
    position: relative;
    border: 4px solid #BE8664;
    border-radius: 7px;
    margin: .5rem;
    padding: .7rem;
}

.character-text p {
    /* line-height: 1.5rem; */
    /* text-align: left; */
}

.character-gallery {
    margin: .5rem;
    color: white;
}

.character-gallery.row.column img {
    background-color: rgb(51, 51, 51);
}

.row > .column {  
    padding: 0.3rem;
}

.row:after {
content: "";
display: table;
clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
float: left;
width: 33%;
}

/* The Modal (background) */
.modal {
display: none;
position: fixed;
z-index: 3;
padding-top: 100px;
left: 0;
top: 45px;
width: 100%;
height: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.7);
}

/* Modal Content */
.modal-content {
position: relative;
/* background-color: #fefefe; */
margin: auto;
padding: 0;
width: 90%;
max-width: 1200px;
}

/* The Close Button */
.close {
color: white;
position: absolute;
top: 10px;
right: 25px;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: rgb(255, 66, 123) !important;
text-decoration: none;
cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev,
.next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
padding-left: 5px;
padding-right: 5px;
margin-top: -50px;
color: white;
font-weight: bold;
font-size: 20px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
-webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
color:rgb(255, 66, 123) !important;
}

/* Number text (1/3 etc) */
.numbertext {
color: #f2f2f2;
font-size: 12px;
padding: 8px 12px;
position: absolute;
top: 0;
}

/* Caption text */
.caption-container {
text-align: center;
background-color: transparent;
padding: 2px 16px;
color: white;
}

img.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}

img.hover-shadow {
transition: 0.3s;
}

.hover-shadow:hover {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
cursor: pointer;
}

@media screen and (min-width:769px) {
    .back {
        margin-left: 35px;
        transition: 0.5s ease !important;
    }

    .back:hover {
        margin-left: 25px;
        transition: 0.5s !important;
    }

    .character-card {
        display: flex;
        flex-direction: row;
        border-radius: 4px;
        margin: 0 1.5rem 1.5rem 1.5rem;
        padding: 1.5rem;
    }

    .character-img {
        width: 45%;
        padding: 0;
    }

    /* .fadeout{
        position: relative;
        background:rgba(255, 255, 255, 0.548);
        margin-top: -58vw;
        height: 54.5vw;
    } */

    .character-art-credits {
        position: relative;
        margin: 0;
        margin-top: -7rem;
        padding: 0;
    }
    
    .character-art-credits p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .character-voice {
        position: absolute;
        top: 300px;
        left: 100px;
        /* float: right;
        margin: 0;
        margin-top: -30rem; */
    }
    
    .character-info {
        width:55%;
        margin-left: 2rem;
        margin-right: 0rem;
    }

    .character-bio {
        position: relative;
        margin: 0;
        margin-bottom: 1rem;
        align-items: left;
    }    
    
    .voice {
        display: flex;
        flex-direction: row;
        margin: .5rem auto;
        text-align: center;
    }

    .voice .name {
        width: 60%;
        margin: 0;
        margin-right: 0.5rem;
    }

    audio {
        width: 30%;
    }

    .character-bio p {
        text-align: left;
    }

    /* p.jpn-name {
        font-size: 3vw;
        font-weight: bold;
        margin: 0;
        margin-top: .8vw;
    } */

    audio {
        margin: auto;
    }

    p.cv {
        margin: .5rem;
        /* width: 50%; */
    }

    .character-traits {
        display: flex;
        flex-direction: row;
    }
    
    .character-traits ul {
        list-style: none;
        padding-left: 0;
        width: 50%;  
    }
    

    .character-traits ul li {
        display: flex;
        flex-direction: row;
        align-items: center;
        /* padding-top: 1px; */
    }

    .character-traits ul.left {
        /* margin-left: 0; */
        width: 60%;
    }

    .character-traits ul.right {
        margin-left: -5%;
        width: 45%;
    }

    .character-traits .right li{
        /* width: 50%; */
        margin-left: 0rem;
    }
    
    .bio-text {
        z-index: 1;
        border-style: solid;
        border-width: 3.5px;
        margin-left: -1.5rem;
        padding-left: 1.5rem;
    }
    
    .left .bio-text{
        /* width: 100%; */
        /* margin-right: -1.5rem; */
    }

    .right .bio-text{
        /* width: 50%; */
        /* margin-left: -1.5rem; */
    }
    
    .character-text {
        padding: 1rem;
    }
    
    .character-text p {
        line-height: auto;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    
    .character-gallery {
        margin: 0;
    }

    .row > .column {  
        padding: .5rem;
    }
    
    .modal {
        top: 0;
        z-index: 10;
    }
}