 
  .countdown {
    color: #333;
    margin: 0 auto;
    text-align: center;
  }
  
  
.countdown ul li {
    display: inline-block;
    font-size: 1.125rem;
    padding: .75rem;
    list-style-type: none;
    text-transform: uppercase;
  }
  
.countdown ul li span {
    display: block;
    font-size: 3.375rem;
    background: black;
    border-radius: 4px;
}

  /* .message {
      font-size: 4rem;
    }
    
    #content {
        display: none;
    padding: 1rem;
}
  
.emoji {
    padding: 0 .25rem;
} */

@media screen and (min-width:768px) {
    .countdown ul li {
        font-size: 1.5em;
        padding: 1em;
    }
    
    .countdown ul li span {
        font-size: 4.5rem;
    }
}